## Problem statement

A new football club named *‘Brussels United FC’* has just been inaugurated. This club does not have a team yet. The team is looking to hire players for their roster. Management wants to make such decisions using data based approach. During a recent hiring drive, you were selected for the Data Science team as a Junior data scientist. Your team has been tasked with creating a report which recommends players for the main team. 

To start with, a total 15 players are required. Player data for all teams has been acquired from FIFA. This data contains information about the palyers, the clubs they are currently playing for and various performance measures.

**Requirement/Constraint:**
There is a limited budget for hiring players. The team needs 20 possible players to choose from. You have been requested to formulate a report in order to help the management make a decision regarding potential players.

## Understanding the data first

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('./data'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

./data\fifa.csv
./data\fifa_ variable_information.csv

In [2]:
pd.set_option("display.width",1000)
pd.set_option("display.max_columns",None)

In [3]:
df = pd.read_csv('./data/fifa.csv')
print(df.shape,'\n\n')
# print(df.info(),'\n\n')
df.head()

(18207, 60)

       ID               Name  Age                                           Photo Nationality                                 Flag  Overall  Potential                 Club                                     Club Logo    Value   Wage Preferred Foot  International Reputation  Weak Foot  Skill Moves       Work Rate   Body Type Position  Jersey Number        Joined Loaned From Contract Valid Until Height  Weight  Crossing  Finishing  HeadingAccuracy  ShortPassing  Volleys  Dribbling  Curve  FKAccuracy  LongPassing  BallControl  Acceleration  SprintSpeed  Agility  Reactions  Balance  ShotPower  Jumping  Stamina  Strength  LongShots  Aggression  Interceptions  Positioning  Vision  Penalties  Composure  Marking  StandingTackle  SlidingTackle  GKDiving  GKHandling  GKKicking  GKPositioning  GKReflexes Release Clause
0  158023           L. Messi   31  https://cdn.sofifa.org/players/4/19/158023.png   Argentina  https://cdn.sofifa.org/flags/52.png       94         94         FC Barcelona  https://cdn.sofifa.org/teams/2/light/241.png  €110.5M  €565K           Left                       5.0        4.0          4.0  Medium/ Medium       Messi       RF           10.0   Jul 1, 2004         NaN                 2021    5'7  159lbs      84.0       95.0             70.0          90.0     86.0       97.0   93.0        94.0         87.0         96.0          91.0         86.0     91.0       95.0     95.0       85.0     68.0     72.0      59.0       94.0        48.0           22.0         94.0    94.0       75.0       96.0     33.0            28.0           26.0       6.0        11.0       15.0           14.0         8.0        €226.5M
1   20801  Cristiano Ronaldo   33   https://cdn.sofifa.org/players/4/19/20801.png    Portugal  https://cdn.sofifa.org/flags/38.png       94         94             Juventus   https://cdn.sofifa.org/teams/2/light/45.png     €77M  €405K          Right                       5.0        4.0          5.0       High/ Low  C. Ronaldo       ST            7.0  Jul 10, 2018         NaN                 2022    6'2  183lbs      84.0       94.0             89.0          81.0     87.0       88.0   81.0        76.0         77.0         94.0          89.0         91.0     87.0       96.0     70.0       95.0     95.0     88.0      79.0       93.0        63.0           29.0         95.0    82.0       85.0       95.0     28.0            31.0           23.0       7.0        11.0       15.0           14.0        11.0        €127.1M
2  190871          Neymar Jr   26  https://cdn.sofifa.org/players/4/19/190871.png      Brazil  https://cdn.sofifa.org/flags/54.png       92         93  Paris Saint-Germain   https://cdn.sofifa.org/teams/2/light/73.png  €118.5M  €290K          Right                       5.0        5.0          5.0    High/ Medium      Neymar       LW           10.0   Aug 3, 2017         NaN                 2022    5'9  150lbs      79.0       87.0             62.0          84.0     84.0       96.0   88.0        87.0         78.0         95.0          94.0         90.0     96.0       94.0     84.0       80.0     61.0     81.0      49.0       82.0        56.0           36.0         89.0    87.0       81.0       94.0     27.0            24.0           33.0       9.0         9.0       15.0           15.0        11.0        €228.1M
3  193080             De Gea   27  https://cdn.sofifa.org/players/4/19/193080.png       Spain  https://cdn.sofifa.org/flags/45.png       91         93    Manchester United   https://cdn.sofifa.org/teams/2/light/11.png     €72M  €260K          Right                       4.0        3.0          1.0  Medium/ Medium        Lean       GK            1.0   Jul 1, 2011         NaN                 2020    6'4  168lbs      17.0       13.0             21.0          50.0     13.0       18.0   21.0        19.0         51.0         42.0          57.0         58.0     60.0       90.0     43.0       31.0     67.0     43.0      64.0       12.0        38.0           30.0         12.0    68.0       40.0       68.0     15.0            21.0           13.0      90.0        85.0       87.0           88.0        94.0        €138.6M
4  192985       K. De Bruyne   27  https://cdn.sofifa.org/players/4/19/192985.png     Belgium   https://cdn.sofifa.org/flags/7.png       91         92      Manchester City   https://cdn.sofifa.org/teams/2/light/10.png    €102M  €355K          Right                       4.0        5.0          4.0      High/ High      Normal      RCM            7.0  Aug 30, 2015         NaN                 2023   5'11  154lbs      93.0       82.0             55.0          92.0     82.0       86.0   85.0        83.0         91.0         91.0          78.0         76.0     79.0       91.0     77.0       91.0     63.0     90.0      75.0       91.0        76.0           61.0         87.0    94.0       79.0       88.0     68.0            58.0           51.0      15.0        13.0        5.0           10.0        13.0        €196.4M

## Data preprocessing

1. Drop any columns that you deem unnecessary for analysis.
2. Clean and replace missing or errand data for analyzing.

### 1. Dropping irrelevant columns

On high level analysis it can be observed that the below factors/features are irrelevant to our requirement hence, dropping the columns.

    Photo, Flag, Club logo, Jersey Number

In [4]:
tot_rows, tot_cols = df.shape
print(tot_rows, tot_cols)

18207 60

In [5]:
df_dropped = df.drop(columns=['Photo','Flag','Club Logo','Jersey Number'])
print(len(df_dropped.columns))

56

### 2. Cleaning data

Three major approached can be followed here
- Null check/Invalid data: Handling missing or inappropriate data.
- Format issue: Checking if the values are in the necessary format.
- Type check: Column should have the expected datatype.

In [51]:
# some helper functions and variables
# these are just to avoid few repetative code

def analyze_col(df, col_name,head=10):
    null_values = np.sum(df[col_name].isnull(),axis=0)
    print(df[col_name].info());print();
    print(df[col_name].head(head));print();
    for i,value in enumerate(null_values):
        print("Null values of parameter {} is {} = {:.2f}% of total".format(i,value, value / tot_rows * 100));print();

In [7]:
# total null columns
nulls = np.sum(df_dropped.isnull(),axis=0)[lambda x: x > 0]
nulls.sort_values(ascending=False)

Loaned From                 16943
Release Clause               1564
Joined                       1553
Contract Valid Until          289
Club                          241
Position                       60
GKDiving                       48
GKHandling                     48
Dribbling                      48
Volleys                        48
ShortPassing                   48
HeadingAccuracy                48
Finishing                      48
Crossing                       48
Weight                         48
Height                         48
GKKicking                      48
FKAccuracy                     48
GKPositioning                  48
Body Type                      48
Work Rate                      48
Skill Moves                    48
Weak Foot                      48
International Reputation       48
Preferred Foot                 48
Curve                          48
LongPassing                    48
SlidingTackle                  48
LongShots                      48
StandingTackle                 48
Marking                        48
Composure                      48
Penalties                      48
Vision                         48
Positioning                    48
Interceptions                  48
Aggression                     48
Strength                       48
BallControl                    48
Stamina                        48
Jumping                        48
ShotPower                      48
Balance                        48
Reactions                      48
Agility                        48
SprintSpeed                    48
GKReflexes                     48
Acceleration                   48
dtype: int64

### **Loaned From**

In [53]:
analyze_col(df,['Loaned From'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 1 columns):
Loaned From    1264 non-null object
dtypes: object(1)
memory usage: 71.2+ KB
None

  Loaned From
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN

Null values of parameter 0 is 16943 = 93.06% of total

**Approach**
- It has high number(93%) of missing values hence removing the whole column as such.

In [9]:
# Use df_drop1 for next
df_drop1 = df_dropped.drop(columns='Loaned From')
print(df_drop1.shape)

(18207, 55)

### Release Clause

In [54]:
analyze_col(df_drop1,['Release Clause'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16654 entries, 0 to 18206
Data columns (total 1 columns):
Release Clause    16654 non-null object
dtypes: object(1)
memory usage: 195.2+ KB
None

  Release Clause
0    226500000.0
1    127100000.0
2    228100000.0
3    138600000.0
4    196400000.0
5    172100000.0
6    137400000.0
7    164000000.0
8    104600000.0
9    144500000.0

Null values of parameter 0 is 0 = 0.00% of total

**Approach**
- Release clause values are amount with Euro symbol as prefix and suffix ‘K’ or ‘M’ indicating thousands and millions respectively.
- Check if all the columns are having € and get rid of it.
- Replace each 'K' or 'M' with respective 1000 or 1000000 values. 
- Almost 91% of the entries are not null hence replacing with a meaningful value (Median or mean) will be a good option.

In [11]:
# remove_dict = dict.fromkeys(['€','M','K'],"")
# remove_dict

In [12]:
def clean_release(x):
    x = str(x)
    if '€' in x:
        x = x.replace('€','')
    if "M" in x:
        m = 10 ** 6
        x = x.replace('M','')
        x = str(float(x) * m)
    if "K" in x:
        k = 10 ** 3
        x = x.replace('K','')
        x = str(float(x)*k)
    return x
    
# print(df_drop1['Release Clause'].tail(20))
df_drop1['Release Clause'] = df_drop1['Release Clause'].apply(clean_release)
df_drop1['Release Clause'].head()

0    226500000.0
1    127100000.0
2    228100000.0
3    138600000.0
4    196400000.0
Name: Release Clause, dtype: object

### **Joined**

In [13]:
analyze_col(df=df_drop1,col_name='Joined')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 1 columns):
Joined    16654 non-null object
dtypes: object(1)
memory usage: 71.2+ KB
None

0     Jul 1, 2004
1    Jul 10, 2018
2     Aug 3, 2017
3     Jul 1, 2011
4    Aug 30, 2015
5     Jul 1, 2012
6     Aug 1, 2012
7    Jul 11, 2014
8     Aug 1, 2005
9    Jul 16, 2014
Name: Joined, dtype: object

Null values 1553 = 8.53% of total

**Approach**

- There are a few NaN values, removing those rows from the data.
- Since we dont require the exact date in this scenario, changing the formatting of the Date to year only format.

In [14]:
df_drop1.dropna(subset=['Joined'],inplace=True)

In [15]:
df_drop1['Joined'] = df_drop1['Joined'].apply(lambda x: str(x)[-4:])

### Contract Valid Until

In [55]:
analyze_col(df_drop1,['Contract Valid Until'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16654 entries, 0 to 18206
Data columns (total 1 columns):
Contract Valid Until    16654 non-null int64
dtypes: int64(1)
memory usage: 260.2 KB
None

   Contract Valid Until
0                  2021
1                  2022
2                  2022
3                  2020
4                  2023
5                  2020
6                  2020
7                  2021
8                  2020
9                  2021

Null values of parameter 0 is 0 = 0.00% of total

**Approach**
- No nulls in the columns, leaving it as it is.
- Converting type of column to date time.

In [17]:
import datetime as dt

df_drop1['Contract Valid Until'] = df_drop1['Contract Valid Until'].apply(lambda x: dt.datetime.strptime(x,'%Y')).dt.year

### Value and Wage

In [56]:
analyze_col(df_drop1,['Value','Wage'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16654 entries, 0 to 18206
Data columns (total 2 columns):
Value    16654 non-null object
Wage     16654 non-null object
dtypes: object(2)
memory usage: 260.2+ KB
None

     Value   Wage
0  €110.5M  €565K
1     €77M  €405K
2  €118.5M  €290K
3     €72M  €260K
4    €102M  €355K
5     €93M  €340K
6     €67M  €420K
7     €80M  €455K
8     €51M  €380K
9     €68M   €94K

Null values of parameter 0 is 0 = 0.00% of total

Null values of parameter 1 is 0 = 0.00% of total

**Approach**
- Value and Wage can be processed similar to Release Clause

In [64]:
df_drop1[['Value','Wage']] = df_drop1[['Value','Wage']].apply(lambda x : [clean_release(i) for i in x])
# analyze_col(df_drop1,['Value','Wage'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16654 entries, 0 to 18206
Data columns (total 2 columns):
Value    16654 non-null object
Wage     16654 non-null object
dtypes: object(2)
memory usage: 260.2+ KB
None

         Value      Wage
0  110500000.0  565000.0
1   77000000.0  405000.0
2  118500000.0  290000.0
3   72000000.0  260000.0
4  102000000.0  355000.0
5   93000000.0  340000.0
6   67000000.0  420000.0
7   80000000.0  455000.0
8   51000000.0  380000.0
9   68000000.0   94000.0

Null values of parameter 0 is 0 = 0.00% of total

Null values of parameter 1 is 0 = 0.00% of total

### Height

In [67]:
analyze_col(df_drop1,['Height'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16654 entries, 0 to 18206
Data columns (total 1 columns):
Height    16654 non-null object
dtypes: object(1)
memory usage: 195.2+ KB
None

  Height
0    5'7
1    6'2
2    5'9
3    6'4
4   5'11
5    5'8
6    5'8
7    6'0
8    6'0
9    6'2

Null values of parameter 0 is 0 = 0.00% of total

**Approach**
- Null check: Here we do not have any null values
- Formatting: The data can be formatted from ft'inch to ft

    $1 ft = 12.0 inches$

In [71]:
from functools import reduce
from operator import add

"""
input should be in ft'inch format
"""
def convert_to_ft(inp):
    ft = list(map(int,inp.split("'")))
    ft[1] /= 12
    
    return reduce(add,ft)

In [ ]:
df_drop1['Height'] = df_drop1['Height'].map(lambda x : round(convert_to_ft(x),2))

In [ ]:
df_drop1,['Height']

### Weight

In [82]:
analyze_col(df_drop1,['Weight'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16654 entries, 0 to 18206
Data columns (total 1 columns):
Weight    16654 non-null object
dtypes: object(1)
memory usage: 195.2+ KB
None

   Weight
0  159lbs
1  183lbs
2  150lbs
3  168lbs
4  154lbs
5  163lbs
6  146lbs
7  190lbs
8  181lbs
9  192lbs

Null values of parameter 0 is 0 = 0.00% of total

In [89]:
# checking if last three letters are lbs everywhere
pd.unique(df_drop1['Weight'].map(lambda x: x[-3:]))

array(['lbs'], dtype=object)

### Other Columns

On high level introspection, both these columns look valid.m

In [79]:
col_list = ['Club','Position','GKDiving','GKHandling','Dribbling','Volleys','ShortPassing','HeadingAccuracy']

In [80]:
analyze_col(df_drop1,col_list)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16654 entries, 0 to 18206
Data columns (total 8 columns):
Club               16654 non-null object
Position           16654 non-null object
GKDiving           16654 non-null float64
GKHandling         16654 non-null float64
Dribbling          16654 non-null float64
Volleys            16654 non-null float64
ShortPassing       16654 non-null float64
HeadingAccuracy    16654 non-null float64
dtypes: float64(6), object(2)
memory usage: 1.0+ MB
None

                  Club Position  GKDiving  GKHandling  Dribbling  Volleys  ShortPassing  HeadingAccuracy
0         FC Barcelona       RF       6.0        11.0       97.0     86.0          90.0             70.0
1             Juventus       ST       7.0        11.0       88.0     87.0          81.0             89.0
2  Paris Saint-Germain       LW       9.0         9.0       96.0     84.0          84.0             62.0
3    Manchester United       GK      90.0        85.0       18.0     13.0          50.0             21.0
4      Manchester City      RCM      15.0        13.0       86.0     82.0          92.0             55.0
5              Chelsea       LF      11.0        12.0       95.0     80.0          89.0             61.0
6          Real Madrid      RCM      13.0         9.0       90.0     76.0          93.0             55.0
7         FC Barcelona       RS      27.0        25.0       87.0     88.0          82.0             77.0
8          Real Madrid      RCB      11.0         8.0       63.0     66.0          78.0             91.0
9      Atlético Madrid       GK      86.0        92.0       12.0     13.0          29.0             15.0

Null values of parameter 0 is 0 = 0.00% of total

Null values of parameter 1 is 0 = 0.00% of total

Null values of parameter 2 is 0 = 0.00% of total

Null values of parameter 3 is 0 = 0.00% of total

Null values of parameter 4 is 0 = 0.00% of total

Null values of parameter 5 is 0 = 0.00% of total

Null values of parameter 6 is 0 = 0.00% of total

Null values of parameter 7 is 0 = 0.00% of total

In [93]:
# saving the cleaned data frome to a new variable for analysis
dfa = df_drop1
dfa.head()

       ID               Name  Age Nationality  Overall  Potential                 Club        Value      Wage Preferred Foot  International Reputation  Weak Foot  Skill Moves       Work Rate   Body Type Position Joined  Contract Valid Until  Height Weight  Crossing  Finishing  HeadingAccuracy  ShortPassing  Volleys  Dribbling  Curve  FKAccuracy  LongPassing  BallControl  Acceleration  SprintSpeed  Agility  Reactions  Balance  ShotPower  Jumping  Stamina  Strength  LongShots  Aggression  Interceptions  Positioning  Vision  Penalties  Composure  Marking  StandingTackle  SlidingTackle  GKDiving  GKHandling  GKKicking  GKPositioning  GKReflexes Release Clause
0  158023           L. Messi   31   Argentina       94         94         FC Barcelona  110500000.0  565000.0           Left                       5.0        4.0          4.0  Medium/ Medium       Messi       RF   2004                  2021    5.58    159      84.0       95.0             70.0          90.0     86.0       97.0   93.0        94.0         87.0         96.0          91.0         86.0     91.0       95.0     95.0       85.0     68.0     72.0      59.0       94.0        48.0           22.0         94.0    94.0       75.0       96.0     33.0            28.0           26.0       6.0        11.0       15.0           14.0         8.0    226500000.0
1   20801  Cristiano Ronaldo   33    Portugal       94         94             Juventus   77000000.0  405000.0          Right                       5.0        4.0          5.0       High/ Low  C. Ronaldo       ST   2018                  2022    6.17    183      84.0       94.0             89.0          81.0     87.0       88.0   81.0        76.0         77.0         94.0          89.0         91.0     87.0       96.0     70.0       95.0     95.0     88.0      79.0       93.0        63.0           29.0         95.0    82.0       85.0       95.0     28.0            31.0           23.0       7.0        11.0       15.0           14.0        11.0    127100000.0
2  190871          Neymar Jr   26      Brazil       92         93  Paris Saint-Germain  118500000.0  290000.0          Right                       5.0        5.0          5.0    High/ Medium      Neymar       LW   2017                  2022    5.75    150      79.0       87.0             62.0          84.0     84.0       96.0   88.0        87.0         78.0         95.0          94.0         90.0     96.0       94.0     84.0       80.0     61.0     81.0      49.0       82.0        56.0           36.0         89.0    87.0       81.0       94.0     27.0            24.0           33.0       9.0         9.0       15.0           15.0        11.0    228100000.0
3  193080             De Gea   27       Spain       91         93    Manchester United   72000000.0  260000.0          Right                       4.0        3.0          1.0  Medium/ Medium        Lean       GK   2011                  2020    6.33    168      17.0       13.0             21.0          50.0     13.0       18.0   21.0        19.0         51.0         42.0          57.0         58.0     60.0       90.0     43.0       31.0     67.0     43.0      64.0       12.0        38.0           30.0         12.0    68.0       40.0       68.0     15.0            21.0           13.0      90.0        85.0       87.0           88.0        94.0    138600000.0
4  192985       K. De Bruyne   27     Belgium       91         92      Manchester City  102000000.0  355000.0          Right                       4.0        5.0          4.0      High/ High      Normal      RCM   2015                  2023    5.92    154      93.0       82.0             55.0          92.0     82.0       86.0   85.0        83.0         91.0         91.0          78.0         76.0     79.0       91.0     77.0       91.0     63.0     90.0      75.0       91.0        76.0           61.0         87.0    94.0       79.0       88.0     68.0            58.0           51.0      15.0        13.0        5.0           10.0        13.0    196400000.0

## Time to explore the data

Qustions to be answered based on the data
1. Plot the distribution of Overall rating for all players.

Generate pair plots for the following variables:
    Overall, Value, Wage, International Reputation, Height, Weight, Release Clause
    
Generate a table containing the top 20 players ranked by Overall score and whose contract expires in 2020.

What would the average wage for this set of players be?

What is the average age?

Is there a correlation between the Overall rating and Value for these players?

Generate tables containing the top 5 players by Overall rating for each unique position.

Are there any players appearing in more than one Table. Please point out such players.

What is the average wage one can expect to pay for the top 5 in every position?

## Conclusions

- 
- This use cases can be extended to cases like picking the right products based on past peformance.